.contact {
  width: 450px;
}
.contact1 {
  width: 570px;
}
.register {
  width: 35%;
}
.line {
  height: 1px;
  width: 250px;
}
.line2 {
  height: 1px;
  width: 1050px;
}
.table-width {
  width: 1050px;
}
.line1 {
  height: 1px;
  width: 100px;
}
.bar {
  width: 20%;
}
.add {
  width: 1000px;
  height: 500px;
}
.submit-contact {
  margin-left: 350px;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(9, 160, 241);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: rgb(62, 183, 249);
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #60a5fa;
  color: white;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "▲ Change";
  color: #fff;
  display: inline-block;
  background: #2847e5;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  font-weight: 400;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.custom-file-input:focus {
  outline: none !important;
}
.custom-file-input:active::before {
  transform: scale(0.9) translate(0px, 2px);
  box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
