{{>navbar}}
<div class="flex px-36 justify-between pt-5">
   <div class="flex flex-col mt-24">
      <p class="text-3xl font-sans">LexiJoy <span class="text-blue-500">Blogs</span> </p>
      <p class="mt-10">The "Blog Section on Memorizing Words with the Program" offers learners a comprehensive guide to
         effective word memorization strategies. Through this section, learners gain insights into personalized methods,
         practical exercises, and collaborative learning opportunities</p>
      <a
            href="/"><button
         class="w-32 border mt-14 border-blue-400 p-2 text-blue-400 rounded-md hover:text-white hover:bg-blue-500 duration-300"> Go back</button></a>
   </div>
   <div>
      <img src="/imgs/blog.jpg" alt="home">

   </div>

</div>
<div class="px-36 py-10 flex flex-col">
   <div class="border border-zinc-600 p-2 flex rounded-md my-2">
      <img src="/imgs/first.jpg" class="w-1/5 p-2" alt="">
      <div class="flex flex-col justify-around py-10 pr-14">
         <div class="flex justify-between">
            <p class="font-semibold text-2xl">This is first blog</p>
            <p class="">23 August, 2023</p>
         </div>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat neque consequatur necessitatibus expedita
            nemo harum obcaecati architecto. Cumque alias optio numquam suscipit sequi voluptate, expedita animi
            recusandae, obcaecati blanditiis, temporibus at dolores? Quis adipisci sit, ab in nostrum illum ad deserunt
            explicabo et omnis, facere vitae suscipit aliquid? Maiores, omnis.</p>
      </div>
   </div>
   <div class="border border-zinc-600 p-2 flex rounded-md my-2">
      <img src="/imgs/dictionary.jpg" class="w-1/5 p-2" alt="">
      <div class="flex flex-col justify-around py-10 pr-14">
         <div class="flex justify-between">
            <p class="font-semibold text-2xl">Effective Ways to Memorize Words:</p>
            <p class="">23 August, 2023</p>
         </div>
         <p>1.Use a List and Notes: Create a list of the words you're learning and write them down in a notebook or use
            an
            electronic note-taking tool. Include translations and example sentences for each word. <br>
            2.Repeat Multiple Times: Repeatedly reading the words helps improve memorization. It requires reading and
            reciting the words several times. <br>
            3.Use Translated Sentences: Utilize translated sentences and phrases for each word. This helps you
            understand
            words in context.</p>
      </div>
   </div>
</div>

{{>footer}}