{{!-- Navbar --}}
{{>navbar}}
{{!-- Index --}}
<div class="flex px-36 justify-between pb-20 pt-20">
   <div class="flex flex-col mt-28">
      <p class="text-3xl font-sans">
         Welcome to Lexi<span class="text-blue-500">Joy</span>
      </p>
      <p class="mt-10 text-zinc-500">This program works to improve the English language. Through this program, users can access electronic resources
         that make learning even easier. With the help of the program, users will have the opportunity to use a new
         method of memorizing words, practical exercises and other educational materials. This makes their English
         learning process qualitative amdnd effective.
         
      </p>
      <div class="mt-14">
      <a href="/home"><button class="w-24 bg-blue-400 p-2 mx-2 text-white rounded-md drop-shadow-lg">Start</button></a>
       <a href="/login"><button class="w-24 border border-blue-400 p-2 text-blue-400 rounded-md"> Register</button></a>
      </div>
   </div>
   <div>
      <img src="/imgs/home.jpg" alt="home">
   </div>
</div>
{{!-- Footer --}}
{{>footer}}