<div class="w-full h-24 flex justify-between pt-7 px-36 fixed bg-white ">
   <div class="w-12 h-12 rounded-full p-1 border border-blue-500">
      <a href="/" class="text-3xl ml-2 font-semibold text-slate-700 ">L<span class="text-blue-500">j</span></a>
   </div>
   <div class="text-xl text-zinc-500">
      <a href="/about" class="mx-3 hover:text-black duration-300">About us</a>
      <a href="/contact" class="mx-3 hover:text-black duration-300">Contact</a>
      <a href="/blog" class="mx-3 hover:text-black duration-300">Blog</a>
   </div>
</div>   