{{>home-navbar}}
<div class="px-36  pb-20 pt-20 flex justify-center items-center">

   <div class=" shadow-md shadow-slate-500 flex mt-20 add rounded-md p-7 ">
      <div class="flex flex-col">
         <img src="/imgs/user.jpg" class="w-52 h-52 shadow-lg shadow-slate-500 mt-3  mb-0 rounded-full" alt="">
         <input type="file" class="custom-file-input first-letter ml-16 absolute mt-44"
            accept="image/png, image/gif, image/jpeg">
         <div class="bg-blue-400 w-96 h-40 rounded-md shadow-md shadow-slate-500 mt-10 text-white">
            <div class="flex text-xl px-4 mt-2">
               <p>@</p>
               <p>Mr_Ortiqov</p>
            </div>
            <div class="flex text-xl px-4 mt-">
               <i class="bi bi-person-circle"></i>
               <p>Ortiqov Akmal</p>
            </div>
            <div class="flex text-xl px-4">
               <i class="bi bi-envelope-at"></i>
               <p>akmalbekortiqovv@gmail.com</p>
            </div>
         </div>
      </div>
   </div>
   <div>

   </div>
   <div>

   </div>
</div>