{{>home-navbar}}
<div class="px-36  pb-20 pt-20 flex justify-center items-center">

<div class="items-center shadow-md shadow-slate-500 flex justify-center mt-20 add rounded-md ">
To say
</div>
</div>