{{>home-navbar}}
<div class="flex flex-col pt-24 items-center p-14">

   <p class="text-4xl text-blue-400 py-3">All dictionary</p>
   {{!-- <div class="line2 bg-zinc-400 m-2"></div> --}}

<table class="table-width">
  <tr>
    <th>№</th>
    <th>Engilsh</th>
    <th>Uzbek</th>
    <th>Events</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Book</td>
    <td>Kitob</td>
    <td><Button class="mr-3 text-red-500">Delete</Button> <button>Edit</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Apple</td>
    <td>Olma</td>
    <td><Button class="mr-3 text-red-500">Delete</Button> <button>Edit</button></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Red</td>
    <td>Qizil</td>
    <td><Button class="mr-3 text-red-500">Delete</Button> <button>Edit</button></td>
  </tr>
</table>
</div>